*DS_Store
Naive Bayes/__pycache__
Naive Bayes/starter_code/__pycache__
op.txt
Random Forest/.DS_Store
# Random Forest/main.py

*.cpython-313.pyc
ANN/visualizeArchitecture.py
ANN/outputs/*
.vscode/settings.json
Decision Tree/.DS_Store
wbdc.txt
.gitignore
ANN/sample2plot.py
.gitignore
.gitignore
